@page "/"
@using DziennikOcen.Client.Models

<table>
    <tr>
        <th>ID</th>
        <th>Nazwa użytkownika</th>
        <th>PIN</th>
        <th>Rola</th>
        <th>Data utworzenia</th>
        <th>Ostatnia aktualizacja</th>
    </tr>
    @foreach (var user in users)
    {
        <td>@user.UserID</td>
        <td>@user.Username</td>
        <td>@user.Pin</td>
        <td>@user.RoleID</td>
        <td>@user.Created_at</td>
        <td>@user.Updated_at</td>
    }
</table>


@code
{
    public List<User> users = new List<User>();

    protected override void OnInitialized()
    {
        users = GetUser();
    }

    public List<User> GetUser()
    {
        var fakeUsers = new List<User>()
        {
            new User()
            {
                Updated_at = DateTime.MinValue,
                Created_at = DateTime.Now,
                Password = "saddsad",
                Pin = 123,
                RoleID = 1,
                UserID = 1,
                Username = "jacek"
            },
            new User()
            {
                Updated_at = DateTime.MinValue,
                Created_at = DateTime.Now,
                Password = "saddsad",
                Pin = 123,
                RoleID = 1,
                UserID = 2,
                Username = "patryk"
            },
        };

        return fakeUsers;
    }
}
