@page "/"
@using DziennikOcen.Client.Models
@using DziennikOcen.Client.Services

<table>
    <tr>
        <th>ID</th>
        <th>Nazwa użytkownika</th>
        <th>PIN</th>
        <th>Rola</th>
        <th>Data utworzenia</th>
        <th>Ostatnia aktualizacja</th>
    </tr>
    @foreach (var user in users)
    {
        <td>@user.UserID</td>
        <td>@user.Username</td>
        <td>@user.Pin</td>
        <td>@user.RoleID</td>
        <td>@user.Created_at</td>
        <td>@user.Updated_at</td>
    }
</table>


@code
{
    public List<User> users = new List<User>();

    protected override async Task OnInitializedAsync()
    {
        users = await GetUser();
    }

    public async Task<List<User>> GetUser()
    {
        var userService = new UserService();

        var users = await userService.GetAll();

        return users;
    }
}
